html{
	height: 100%;
}

body{
	height: 100%;
	background-image: url("../img/middle.png");
	background-color: hsla(0,0%,100%,0.50);
    background-blend-mode: overlay;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.contenedor{
	margin: auto;
	width: 80%;
}

header{
	height: 70px;
	border-radius: 0px 0px 15px 15px;
	background-color: #490367;
	width: 100%;
}

footer{
	height: 50px;
	background-color: black;
	border-radius: 15px 15px 0px 0px;
}
main{
	height: 80%;
	background-image: url("../img/logo.svg");
	background-color: hsla(0,0%,100%,0.50);
    background-blend-mode: overlay;
	background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
}
nav{
	margin-left: 150px;
	float: right;
	background-color: white;
	float: right;
	padding: 5px 20px;
	border-radius: 10px;
}
#joystick{
	height: 80%;
	margin-left: 10px;
	float: left;
}

.corte{
	clear: both;
}

nav ul{
	list-style-type: none;
}
nav ul li{
	color: black;
	display: inline-block;
	font: bold 15px verdana, sans-serif;
	margin: 3px;
	padding: 7px;
	border-radius: 5px;
	/*background-color: grey;*/
}
#actual{
		background: #FFD700;	
}

h1{
	float: left;
	color: white;
	margin-left:10px;
	margin-top: auto;
	margin-bottom: auto;
	font: bold 25px just,verdana, sans-serif;
}

@font-face { 
	font-family: 'just';
	src: url('../fonts/Just tell me what.otf');
}

.vertical-centered-text {
  -ms-display: flex;
  display: flex;
  align-items: center;
}

.logo{
	float: left;
	height: 100%;
	width: 400px;
	align-items: center;
	display: flex;
	-ms-display: flex;
}

#construccion{
	width: 100%;
}

