//------------------------
//PATRON DE COLORES-------
//------------------------

$dorado:#FFD700;
$violeta:#24096B;
$violetacla:#882EAF;

.encabezado{
	background: $violeta;
	padding: .5rem 0; 
}

.encabezado .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#logo{
	width: 175px;
	height: auto;
}

.administracion{
	height: auto;
	width: 300px;
}
.administracion h1{
	font-size: 1.5rem;
	color: #fff;
}

.boton-menu,
.boton-sing-out{
	border:0;
	font-size: 2rem;
	margin: 0;
	padding: 0 .5rem;
	background: transparent;
	color: #fff;
}

#menu-principal{
	flex: 1 1 100%;
}

#menu-principal ul{
	padding: 0;
	list-style: none;
	margin: 1rem 0 0 0;
	/*background: #fff;*/
	border-radius: 10px;
}

#menu-principal ul a{
	display: block;
	text-align: center;
	color: #fff;
	padding: .5rem 0;
	border-top: 1px solid #8c8888;
	text-decoration: none;
}

#menu-principal ul a:hover{
	color: $dorado;
}

#menu-principal ul li.active a{
	color: $dorado;
	background: $violetacla; 
}

.texto-encabezado .btn-primary{
	color: #fff;
	background-color: $violeta;
	border-color: transparent;
	margin-top: 1rem;
	transition: all .5s ease;
}

.texto-encabezado .btn-primary:hover,
.texto-encabezado .btn-primary:focus,
.texto-encabezado .btn-primary:active:hover{
	background-color: $violetacla;
	border-color: transparent;
}

.texto-encabezado{
	flex: 1 1 auto;
	display: flex;
	align-items: center;
}
.texto-encabezado .display-4{
	margin-top: 5rem;
}

.bienvenidos{
	background: url("../img/fifa.jpg") no-repeat center;
	background-color: hsla(0,0%,100%,0.5);
	background-blend-mode: overlay;
	background-size: cover;
	background-attachment: fixed !important;
	height: 100vh;
	color: #111;
	display: flex;
	flex-direction: column;
}

.flecha-bajar a{
	display: block;
	font-size: 4rem;
	color: $violetacla;
	animation: flecha-animada 2s ease-in-out infinite;
}

@keyframes flecha-animada{
	from{
		transform: translateY(0);
	}
	50%{
		transform: translateY(6px);
	}
	to{
		transform: translateY(0);
	}
}
#primer-fila,#titulo-informacion{
	padding-top: 1rem;
}

.piedepagina {
  background: #111111;
  color: #fff;
  text-align: center;
  font-size: .9rem; 
}


@media (min-width: 768px) {
    #menu-principal {
        height: auto !important;
        display: block;
        flex: 0 1 auto;
        margin-left: auto;
        order: 1
    }
    #menu-principal ul {
        display: flex;
        margin: 0 0 0 0;
    }
    #menu-principal ul li a {
        padding: .8rem;
        text-transform: capitalize;
        margin: 0 .3rem;
        border-top: 0px;
        border-bottom: 4px solid transparent;
        transition: all .5s ease
    }
    #menu-principal ul li.active a{
    	border-radius: 5px;
    }
    
}

.paginas-internas .bienvenidos{
	height: 50vh;
}

.paginas-internas .ruta {
  background: $dorado;
  color: #111; }

.paginas-internas .ruta a {
  color: #111;
  text-decoration: underline; }

.paginas-internas .ruta a:hover {
  text-decoration: none; 
}

.formInscripcion .btn-primary,
.formMensaje .btn-primary{
	background-color: $violeta;
	border-color: transparent;
}

.formInscripcion .btn-primary:hover,
.formInscripcion .btn-primary:focus,
.formInscripcion .btn-primary:active:hover,
.formMensaje .btn-primary:hover,
.formMensaje .btn-primary:focus,
.formMensaje .btn-primary:active:hover{
	background-color: $violetacla;
	border-color: transparent;
}
.piedepagina p{
	margin-bottom: 0;
}

.informacion-academica h2{
	color: $violeta;
}

.informacion-academica h3{
	color: $violetacla;
}

.btn-link{
	color: #fff;
}

.btn-link:focus, .btn-link:hover {
  color: $dorado;
}

.pieAdministracion{
	padding-top: 1rem !important;
  	padding-bottom: 1rem !important;
  	background: #111111;
	color: #fff;
	text-align: center;
	font-size: 12px; 
}
.pieAdministracion p{
	margin-bottom: 0;
}

.tituloAdministracion{
	font-size: 2rem;
}
.separarNav{
	padding-top: 3rem;
}

.navAdministracion{
	background:#111;
	color: #fff;
}

.cantidad_inscriptos{
	padding-left: 1rem;
	color: blue;
	font-size: 2.5rem;
}

.label_cantidad_inscriptos{
	font-size: 2rem;
}

.btn-baja{
	color: #fff;
	background-color: white;
	border-color: transparent;
	transition: all .5s ease;
}








