
.formInscripcion label { 
	font-family: Georgia, Times, "Times New Roman", serif; 
}
#required_notification { 
	font-size: 12px; 
	color: #d45252; 
	margin: 5px; 
	display: inline; 
	float: right;
}
.formInscripcion ul { 
	width: 450px; 
	list-style-type: none; 
	list-style-position: outside; 
}
.formInscripcion li:first-child, .formInscripcion li:last-child { 
	border-bottom: 2px solid #777; 
}
.formInscripcion li { 
	padding: 15px; 
	border-bottom: 1px solid #eee; 
	position: relative; 
}
.formInscripcion h2 { 
	display: inline;
	font-size: 20px; 
}
.formInscripcion label { 
	width: 100px; 
	margin-top: 3px; 
	display: inline-block; 
	float: left; 
	padding: 3px; 
}
.formInscripcion li input { 
	height: 20px; 
	width: 200px; 
	padding: 5px 8px;
}

.formInscripcion textarea { 
	padding: 8px; 
	width: 250px; 
}
.formInscripcion button { 
	margin-left: 108px; 
}
.formInscripcion input, .formInscripcion textarea { 
	border: 1px solid #aaa; 
	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset; 
	border-radius: 5px; 
	padding-right: 0px; 
}
.formInscripcion input:focus, .formInscripcion textarea:focus { 
	background: #fff; 
	border: 1px solid #555; 
	box-shadow: 0 0 3px #aaa;
	padding-right: 50px;
}
.formInscripcion input:required, .formInscripcion textarea:required { 
	background-size: 5px 5px; 
}
.formInscripcion input:required:valid, .formInscripcion textarea:required:valid { 
	background: #fff url(../img/valido.png) no-repeat 98% center;
	background-size: 15px; 
	box-shadow: 0 0 5px #5cd053; 
	border-color: #28921f; 
}